In [3]:
# Abrindo dataframe

import pandas as pd

nomes_df = pd.read_excel(r'Processos.xlsx')

display(nomes_df)

     Nome      Advogado Processo            Cidade  Status
0    Lira   Alon Lawyer   PC6592  Distrito Federal     NaN
1    Jo達o   Lawyer Alon   EB3792    Rio de Janeiro     NaN
2  Amanda  Amanda mesmo   MM1043    Rio de Janeiro     NaN
3   Carol        Amanda   PC5197         S達o Paulo     NaN

In [10]:
# Abre site
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import os

caminho = os.getcwd()

arquivo = caminho + r'\index.html'

servico = Service(ChromeDriverManager().install())

navegador = webdriver.Chrome(service=servico)

navegador.get(arquivo)

In [11]:
# Escolhendo um estado