In [1]:
# Abrindo dataframe

import pandas as pd

nomes_df = pd.read_excel(r'Processos.xlsx')

display(nomes_df)

     Nome      Advogado Processo            Cidade  Status
0    Lira   Alon Lawyer   PC6592  Distrito Federal     NaN
1    João   Lawyer Alon   EB3792    Rio de Janeiro     NaN
2  Amanda  Amanda mesmo   MM1043    Rio de Janeiro     NaN
3   Carol        Amanda   PC5197         São Paulo     NaN

In [2]:
# Abre site
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
import os

caminho = os.getcwd()

arquivo = caminho + r'\index.html'

servico = Service(ChromeDriverManager().install())

navegador = webdriver.Chrome(service=servico)

navegador.get(arquivo)

In [85]:
print(nomes_df.iloc[1])

Nome                  João
Advogado       Lawyer Alon
Processo            EB3792
Cidade      Rio de Janeiro
Status                 NaN
Name: 1, dtype: object

In [108]:
from time import sleep

navegador.find_element(By.XPATH, '/html/body/div/div/button').click()

sleep(0.5)

navegador.f

In [ ]:
for a in menu:
    link = a.get_attribute('href')
    if 'Rio de Janeiro' in link:
        navegador.get(link)
        # Preenchendo informações
        navegador.find_element(By.ID, 'nome').send_keys('Diego')
        navegador.find_element(By.ID, 'advogado').send_keys('Fotuani')
        navegador.find_element(By.ID, 'numero').send_keys('32584')
        # Clica em Pesquisar
        navegador.find_element(By.CLASS_NAME, 'registerbtn').click()
        # Aceita o alerta
        alerta = navegador.switch_to.alert
        alerta.accept()
        # Pega texto do alerta
        while True:
            try:
                alerta = navegador.switch_to.alert
                if 'Deseja acessar?' in alerta.text:
                    print('Precesso encontrado')
                else:
                    print('Processo não encontrado')
                alerta.accept()
                break
            except:
                continue
        navegador.get(arquivo)
        break